Adafruit-Blinka==3.2.0
adafruit-circuitpython-busdevice==4.0.1
adafruit-circuitpython-rfm69==1.2.5
Adafruit-PlatformDetect==1.3.8
Adafruit-PureIO==1.0.4
psycopg2==2.8.4
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
spidev==3.4
SQLAlchemy==1.3.11
sysv-ipc==1.0.1
